/* header */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url('../imagenes/logo_virtual_vault.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(232, 190, 232);
    padding: 50px;
    box-sizing: border-box;
    position: relative;
}
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 10px 0;
    font-size: 5em; /* Tamaño relativo */
    list-style-type: none;
    background-color: rgb(0,0,0,0.5);
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    nav ul li {
        padding: 5px 0; /* Espaciado para pantallas muy pequeñas */
    }
}

/* footer */
.site-footer {
    background-color: #333; /* Color de fondo del footer */
    color: black; /* Color de texto */
    padding: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.footer-content {
    display: flex; 
    justify-content: start; 
    align-items: center; 
    gap: 150px; /* Espacio entre la imagen y los enlaces */
}

.footer-photo {
    flex: 0 0 auto; 
}

.footer-photo img {
    max-width: 500px; /* Ajusta esto según el tamaño de tu foto */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
}

.footer-links {
    display: flex; /* Organiza los enlaces en fila */
    flex-direction: column; /* Los apila verticalmente */
    justify-content: center; /* Centra los enlaces verticalmente */
    align-items: flex-start; /* Alinea los enlaces al inicio */
}

.footer-links a {
    color: white; 
    text-decoration: none; 
    margin-bottom: 10px; 
}

.footer-links a:hover {
    text-decoration: underline; /* Subraya enlaces al pasar el ratón */
}

/* tabla */

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; /* Espaciado entre filas */
}

table tr {
    background-color: #ffffff; /* Color de fondo de las filas */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para el efecto de marco */
}

table th, table td {
    padding: 8px; /* Espaciado interno de las celdas */
    text-align: left; /* Alineación del texto */
    border: none; /* Sin bordes para las celdas */
}

/* Estilos para la cabecera de la tabla */
table thead th {
    background-color: #f5f5f5; /* Color de fondo para la cabecera */
}


/* aside */

.tabla_juegos {
    display: flex;
    flex-direction: row;
}

aside {
    width: 20%;
    /* Otras propiedades de estilo para el aside */
}

main {
    width: 80%;
    /* Otras propiedades de estilo para el main */
}
